* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: #95a5a6;
    position: relative;
}

.logo-saying-wrapper {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: left;
    align-items: center;
}

.logo-saying-wrapper p {
    font-size: 14px;
    color: #ecf0f1;
    letter-spacing: 1px;
    padding-left: 15px;
}

.social-icons-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.social-icons-wrapper ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.social-icons-wrapper ul li {
    width: 30px;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.social-icons-wrapper ul li a {
    text-decoration: none;
}

.social-icons-wrapper ul li a ion-icon {
    font-size: 20px;
    color: #ecf0f1;
    cursor: pointer;
    transition: color .5s;
}

.social-icons-wrapper ul li:hover a ion-icon {
    color: #bdc3c7;
}

.logo-container {
    width: 100%;
    height: auto;
    background-color: #e84118;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.logo {
    width: 500px;
    height: auto;
    text-align: center;
}

.logo h1 {
    font-size: 40px;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
}

.nav-container {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.349);
    margin-top: 20px;
}

.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.nav-container ul li {
    width: 18%;
    text-align: center;
    padding: 5px;
}

.nav-container ul li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s;
    cursor: pointer;
}
.nav-container ul li a:hover {
    color: #bdc3c7;
}

.main-section {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-main-section {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-icon-wrapper {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-icon-wrapper ion-icon {
    width: 100%;
    height: 100%;
    opacity: .9;
    color: rgba(0, 0, 0, 0.973);
}

.right-main-section {
    flex-basis: 50%;
    height: 80%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 30px;
}
.right-heading-section {
    width: 100%;
}
.right-heading-section h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 20px 0;
}

.right-paragraph-section {
    width: 100%;
    margin-top: 40px;
}

.right-paragraph-section p {
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #95a5a6;
}
.right-main-section button {
    margin-top: 50px;
    outline: none;
    border: none;
    background: #e84118;
    width: 200px;
    padding: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0 5px 5px #c23616;
    transition: background .8s, color .8s, box-shadow .8s;
}

.right-main-section button:hover {
    background: #c23616;
    color: #ecf0f1;
    cursor: pointer;
    box-shadow: 0 5px 5px #e8421896;
}

.info-section {
    width: 90%;
    height: 500px;
    border-top: 3px double #95a5a6;
    border-bottom: 3px double #95a5a6;
    margin: auto;
    margin-top: 80px;
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    
}

.box {
    width: 20%;
    height: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box ion-icon {
    font-size: 70px;
    color: #2ecc71;
    margin-top: 30px;
}

.box h3 {
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #95a5a6;
    
}

.box p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
    color: #95a5a6;
    width: 100%;
    height: 150px;
}

.box a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-top: 20px;
    transition: color .3s;
}

.box a:hover {
    color: #95a5a6;
}

.testimonials-section {
    width: 90%;
    height: 400px;
    /* border-bottom: 3px double #95a5a6; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.testimonials-section h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px 0;
}

.testimonials-img-wrapper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #000;
    border: 1px solid #000000;
    box-shadow: 5px 5px 10px #000;
}

.testimonials-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .9;
}

.testimonials-section blockquote {
    width: 100%;
    text-align: center;
    color: #95a5a6;
    font-size: 15px;
    letter-spacing: 1px;
}

.testimonials-section cite {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

footer {
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    align-items: center;
    padding: 0 50px;
}

footer p {
    flex-basis: 40%;
    flex-grow: 0;
    font-size: 12px;
    letter-spacing: 1px;
    color: #95a5a6;
    /* padding: 30px 0 0 30px; */
}

.footer-links {
    flex-basis: 30%;
    flex-grow: 0;
    /* padding: 30px 30px 0 0; */
}
.footer-links ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer-links ul li {
    width: auto;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #95a5a6;
    transition: color .3s;
}

.footer-links ul li a:hover {
    color: #bdc3c7;
}